img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.glyphicon-button {
  margin-left: 10px;
}

.inline-flex {
  display: inline-flex;
}
.Toolbar {
  display: inline-flex;
}
.adjusted-PanelBody {
  /*min-height: 200px;*/
}
.minHeightPatternPanel {
  min-height: 290px !important;
}

.minHeightPatternPanelHeading {
  min-height: 80px !important;
}
.minHeightStrategyPanel {
  min-height: 450px !important;
}
.minHeightStrategyPanel-Heading {
  min-height: 35px !important;
}
.StrategyListInPatterns li {
  display: inline;
}
.StrategyListInPatterns {
  list-style-type: square;
}

.dotForTactic {
  height: 10px;
  width: 10px;
  background-color: #337ab7;
  border-radius: 50%;
  display: inline-block;
}
.dotForStrategy {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
