img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.glyphicon-button {
  margin-left: 10px;
}

.inline-flex {
  display: inline-flex;
}
.Toolbar {
  display: inline-flex;
}
.adjusted-PanelBody {
  /*min-height: 200px;*/
}
.minHeightPatternPanel {
  min-height: 290px !important;
}

.minHeightPatternPanelHeading {
  min-height: 80px !important;
}
.minHeightStrategyPanel {
  min-height: 450px !important;
}
.minHeightStrategyPanel-Heading {
  min-height: 35px !important;
}
#scroller {
  color: black;
}

.StrategyListInPatterns li {
  display: inline;
}
.StrategyListInPatterns {
  list-style-type: square;
}

.dotForTactic {
  height: 10px;
  width: 10px;
  background-color: #337ab7;
  border-radius: 50%;
  display: inline-block;
}
.dotForStrategy {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotForActiveStrategyFilter {
  height: 25px;
  width: 25px;
  background-color: #337ab7;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.dotForStrategyFilter {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.dotForStrategyFilter:hover {
  cursor: pointer;
  background-color: #ccc;
}
.dotForActiveStrategyFilter:hover {
  cursor: pointer;
  background-color: #ccc;
}
.filter {
  text-align: center;
}
.filter:hover {
  background: #f5f5f5;
  /*border-radius: 25px;*/
}
.activeFilter {
  background: #337ab7;
  color: white;
  /*border-radius: 25px;*/
}
.activeFilter:hover {
  background: #337ab7;
  color: white;
  /*border-radius: 25px;*/
}

.strategyFilter {
  width: 30%;
  background: #337ab7;
}

.inline {
  display: inline !important;
}
.activeStrategyPanel {
  border-color: #337ab7;
  border-width: 2px;
}

.passiveStrategyPanel {
  border-color: #ddd;
  border-width: 1px;
}
.removeElementFromPattern {
  color: #337ab7;
  text-decoration: underline;
}
.removeElementFromPattern:hover {
  cursor: pointer;
}
.qb-value {
  display: none !important;
}
/*
path:nth-child(1) {
  display: none;
}
path:nth-child(2) {
  display: none;
}
path:nth-child(3) {
  display: none;
}
path:nth-child(4) {
  display: none;
}
path:nth-child(5) {
  display: none;
}
path:nth-child(6) {
  display: none;
}
path:nth-child(7) {
  display: none;
}
path:nth-child(8) {
  display: none;
}
g g:first-of-type {
  display: none;
}
*/
.qb-link {
  fill: #ddd;
}
.qb-node rect {
  fill: #337ab7;
}
.qb-node {
  fill: white;
  font-weight: bold;
}
.crop {
  /* width: 10000px;
  height: 10000px;*/
  overflow: hidden;
}

.crop svg {
  /*width: 10000px;
  height: 10000px;*/
  margin: 0 0 0 -0px;
}
rect:hover {
  fill: #23527c !important
  ;
}
